---
layout: layouts/base.njk
---

<p>
    Hey there, you are
    <span id="views" class="views"></span>
    person here!
</p>

<button id="likeButton" class="likes">
    <span id="likesCount">Give me a like! 👍</span>
</button>

<script>
    const viewsCount = document.getElementById("views");
    const likeButton = document.getElementById("likeButton");
    const likesCount = document.getElementById("likesCount");

    document.addEventListener("DOMContentLoaded", async () => {
        const responseViews = await fetch(`/api/hello/views`, {
            method: "GET",
        });
        const responseLikes = await fetch(`/api/hello/likes`, {
            method: "GET",
        });
        const dataViews = await responseViews.json();
        const dataLikes = await responseLikes.json();

        viewsCount.textContent = dataViews.views;
        likesCount.textContent = dataLikes.likes;

        const handleClick = async () => {
            const response = await fetch(`/api/hello/likes`, {
                method: "POST",
            });
            const data = await response.json();
            likesCount.textContent = "Thx bro! 👍: " + data.likes;

            // Remove the event listener after the first click
            likeButton.removeEventListener("click", handleClick);
        };

        likeButton.addEventListener("click", handleClick);
    });
</script>
