---
layout: layouts/base.njk
---

<p>
    Hey there, you are
    <span id="views" class="views" data-postTitle="{{ title }}"></span>
    person here!
</p>

<button id="likeButton" class="likes" data-button-id="{{ title }}">
    <span id="likesCount"></span>
</button>

<script>
    const viewsCount = document.getElementById("views");
    const likeButton = document.getElementById("likeButton");
    const likesCount = document.getElementById("likesCount");
    const postTitle = likeButton.dataset.buttonId;

    document.addEventListener("DOMContentLoaded", async () => {
        const responseViews = await fetch(`/api/${postTitle}/views`, {
            method: "GET",
        });
        const responseLikes = await fetch(`/api/${postTitle}/likes`, {
            method: "GET",
        });
        const dataViews = await responseViews.json();
        const dataLikes = await responseLikes.json();

        viewsCount.textContent = dataViews.views;
        likesCount.textContent = dataLikes.likes;

        const handleClick = async () => {
            const response = await fetch(`/api/${postTitle}/likes`, {
                method: "POST",
            });
            const data = await response.json();
            likesCount.textContent = data.likes;

            // Remove the event listener after the first click
            likeButton.removeEventListener("click", handleClick);
        };

        likeButton.addEventListener("click", handleClick);
    });
</script>
